* {
  box-sizing: border-box;
}

:root {
  --dark-green: rgb(168, 230, 207);
  --light-green: rgb(220, 237, 193);
  --dark-red: rgb(255, 170, 165);
  --light-red: rgb(255, 211, 182);
  --dark-gray: var(--dark-gray);
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-gray);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald", sans-serif, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: gray;
}

p {
  margin: 0;
  font-family: "Roboto", sans-serif, Arial, sans-serif;
}

btn {
  font-family: "Roboto", sans-serif, Arial, sans-serif;
}

/* nav bar */
.navbar-brand {
  font-family: "Ms Madi", cursive;
}

/* hero section */

.jumbotron {
  height: screen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
}

.name {
  font-family: "Ms Madi", cursive;
  font-size: 80px;
}

.nav-item > a:hover {
  color: var(--dark-green) !important;
}
